.ticket-detail-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.ticket-detail-side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.frame-info {
  display: flex;
  gap: 10px;
}

.frame-info-el {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.date-create {
  padding: 0.2rem 0.5rem;
}

.tickets-action-rapide {
  display: flex;
  gap: 5px;
}
