.client-detail-actions {
  display: flex;
  gap: 0.5rem;
}

.client-detail-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.client-detail-machine-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
}

.client-detail-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
